*:not(.modal-footer, .modal-header, .input-group, .bnt-normal) > button{
    background-color: _palette(fg) !important;
}


button.input-group-text {
    background-color: initial !important;
}

.btn{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-download {
  background-color: #4a7a00; 
  color: #fff;
  border: 1px solid #4a7a00;
  padding: 0.45rem 0.8rem;
  font-size: 0.95rem;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &:hover,
  &:focus {
    background-color: #3f6400;
    border-color: #3f6400;
    color: #fff;
    text-decoration: none;
  }

  .download-icon {
    width: 40px;
    height: 15px;
    fill: #fff; 
  }
}


.btn-download.icon {
  padding: 0.45rem;
  width: 44px;
  height: 44px;
  justify-content: center;
  border-radius: 10px;
}